<table class="table">
    <thead class="thead-dark">
        <td>Name</td>
        <td>Price</td>
        <td>Image</td>
        <td>Amount</td>
        <td>Total</td>
        <td>Options</td>
    </thead>
    <tbody>
        <tr *ngFor="let good of cart; index as i">
            <td>{{good.name | titlecase}}</td>
            <td>{{good.price | currency}}</td>
            <td> <img width="50px" height="50px" src="{{good.photUrl}}"> </td>
            <td>
                <input class="form-control" type="number" placeholder="Amount (kg)" [(ngModel)]="good.ammount">
            </td>
            <td>
                {{(good.price * good.ammount) | currency}}
            </td>
            <td>
                <button class="btn btn-primary mr-2" (click)="save(i)">Save</button>
                <button class="btn btn-danger" (click)="delete(i)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>